<h1><%= @sender_full_name %> has invited you to join their team on Cadence</h1>
<p>Click below to accept the invitation</p>
<p>
    <a href="<%= @claim_token_url %>" style="padding: 15px; border-radius: 5px; font-weight: 600; text-decoration: none; color: #ffffff; background: #2563eb">Join Team</a>
</p>